ul.firms__firmsList.firmsList
    li.firmsList__firm.firm.firm_2tec2
      figure.firm__img.firm__img_2tec2
    li.firmsList__firm.firm.firm_altro
      figure.firm__img.firm__img_altro
    li.firmsList__firm.firm.firm_amtico
      figure.firm__img.firm__img_amtico
    li.firmsList__firm.firm.firm_balsan
      figure.firm__img.firm__img_balsan
    li.firmsList__firm.firm.firm_forbo
      figure.firm__img.firm__img_forbo
    li.firmsList__firm.firm.firm_carpetconcept
      figure.firm__img.firm__img_carpetconcept
    li.firmsList__firm.firm.firm_ege
      figure.firm__img.firm__img_ege
    li.firmsList__firm.firm.firm_royalMosa
      figure.firm__img.firm__img_royalMosa
    li.firmsList__firm.firm.firm_vescome
      figure.firm__img.firm__img_vescome