section#singlProject.mainContent__singleProject.singleProject
  .container
    h1.heading.singleProject__heading
    .clearfix
    .singleProject__slider.slider(
      role="region",
      itemscope,
      itemtype="https://schema.org/Thing"
    )
      ul.slider__slides
        figure.slides__item f
        figure.slides__item b
        figure.slides__item a
    