.navContent__navigation{
  @include span(6 last);
  @include clearfix;
  @include breakpoint($md) {
    @include span(7 last);
    margin-top: -50px;
  }
  @include breakpoint($sm) {
    @include span(12);
    margin-top: -30px;
  }
  @include breakpoint($xs) {
    @include span(4 last);
    margin-top: 20px;
  }
  @include breakpoint($xxs) {
    @include span(12);
    margin: 0;
    border-top: 0;
    position: relative;  
    left: 4%;
    order: 2;
  }
}
.navigation__navList {
  @include breakpoint($sm) {
    position: relative;
    right: 36%;
  }
}
.navList__navItem {
  text-align: center;
  &.active a {
    &:hover {
      color: $beige !important;    
    }
  }
}
.navItem__refer {
  transition: color .5s; 
  padding: 25px 14px 10px !important;
  @include link-colors($beige !important, $gray !important);
  @include breakpoint($xxs) {
   padding: 10px  !important; 
  }
  &:hover {
    color: lighten($beige, 20%) !important;
  }
}
.navigation__btnTop {
  z-index: 999;
  width: 149px;
  height: 67px;
  position: fixed;
  top: 65%;
  right: -3.5%; // 149 - 67
  text-align: center;
  color: $cyan !important;
  @include rotate(-90deg);
  background-color: $nightBlack;
  transition: color 0.5s;
  font-size: (30em / 16);
  padding-top: (13% / 67) * 10;
  &:hover {
    color: lighten($cyan, 20%) !important;
  }
  @include breakpoint($md) {
    right: -3.8%;
  }
  @include breakpoint($sm) {
    right: -5%;
  }
  @include breakpoint($xs) {
    right: -7%;
    padding-top: (17% / 67) * 10;
  }
  @include breakpoint($xxs) {
    right: -8%;
    width: 90px;
    height: 40px;
    font-size: (20em / 16);
  }
}