.offers__exclusive.exclusive
  .exclusive__slides.slides
    figure.slides__exclusiveImg
      h1 1
    figure.slides__exclusiveImg
      h1 2
    figure.slides__exclusiveImg
      h1 3
    figure.slides__exclusiveImg
      h1 4