hgroup.offers__headings.headings.text-center
    h2.headings__title(
      role="heading",
      aria-level='1'
    ) мы можем предложить вам
    h3.headings__subTitle(
      role="heading",
      aria-level='2'
    ) весь наш ассортимент: