.offers__options
  ul.options__optionsList.optionsList
    li.optionsList__option
      a.option__refer
    li.optionsList__option
      a.option__refer
    li.optionsList__option
      a.option__refer
    li.optionsList__option
      a.option__refer