.navContent__navigation{
  @include span(6 last);
  @include clearfix;
  @include breakpoint($md) {
    @include span(7 last);
    margin-top: -50px;
  }
  @include breakpoint($sm) {
    @include span(12);
    margin-top: -30px;
  }
  @include breakpoint($xs) {
    @include span(4 last);
    margin-top: 20px;
  }
  @include breakpoint($xxs) {
    @include span(12);
    margin: 0;
    border-top: 0;
    position: relative;  
    left: 4%;
    order: 2;
  }
}
.navigation__navList {
  @include breakpoint($sm) {
    position: relative;
    right: 36%;
  }
}
.navList__navItem {
  text-align: center;
  &.active a {
    &:hover {
      color: $beige !important;    
    }
  }
}
.navItem__refer {
  transition: color .5s; 
  padding: 25px 14px 10px !important;
  @include link-colors($beige !important, $gray !important);
  @include breakpoint($xxs) {
   padding: 10px  !important; 
  }
  &:hover {
    color: lighten($beige, 20%) !important;
  }
}
.navigation__btnTop {
  z-index: 999;
  padding: 0.5% 1%;
  position: fixed;
  bottom: 0;
  right: 5vw;
  text-align: center;
  color: $cyan !important;
  background-color: $nightBlack;
  transition: color 0.5s;
  font-size: (22em / 16);
  line-height: 220%;
  &:hover {
    color: lighten($cyan, 20%) !important;
  }
  &:focus {
    text-decoration: none;
    @extend .navigation__btnTop;
  }
  &:active {
    @extend .navigation__btnTop;
  }
  @include breakpoint($sm) {
    font-size: (22em / 16);
  }
  @include breakpoint($xs) {
    font-size: (22em / 16);

    padding: 0.5% 2%;
  }
  @include breakpoint($xxs) {
    font-size: (18em / 16);
  }
}