.navContent__navigation{
  @include span(6 last);
  @include clearfix;
  @include breakpoint($md) {
    @include span(7 last);
    margin-top: -50px;
  }
  @include breakpoint($sm) {
    @include span(12);
    margin-top: -30px;
  }
  @include breakpoint($xs) {
    @include span(4 last);
    margin-top: 20px;
  }
  @include breakpoint($xxs) {
    @include span(12);
    margin: 80px 15px 0 0;
    border-top: 0;
    
  }
}
.navigation__navList {
  @include breakpoint($sm) {
    position: relative;
    right: 36%;
  }
}
.navList__navItem {
  text-align: center;
  &.active a {
    &:hover {
      color: $beige !important;    
    }
  }
  @include breakpoint($xxs) {
    
  }
}
.navItem__refer {
  transition: color .5s; 
  padding: 25px 14px 10px !important;
  @include link-colors($beige !important, $gray !important);
  @include breakpoint($xxs) {
   padding-top: 10px !important; 
  }
}
