.navContent__navigation{
  @include span(6 last);
  @include clearfix;
  @include breakpoint($md) {
    @include span(7 last);
    margin-top: -77px;
  }
  @include breakpoint($sm) {
    @include span(12);
    margin-top: 0;
  }
}
.navigation__navList {
  @include breakpoint($sm) {
    position: relative;
    right: 36%;
  }
}
.navList__navItem {
  text-align: center;
  &.active a {
    &:hover {
      color: $beige !important;    
    }
  }
}
.navItem__refer {
  transition: color .5s; 
  padding: 20px 14px 10px;
  @include link-colors($beige !important, $gray !important);
}
