.coverTiles {
  @include span(12);
  padding-bottom: 75px;
}
.coverTiles-firm {
  @extend .mainContent__firms;
  margin-top: 90px;
}
.tiles__tilesList{
  @include display-flex(flex);
  @include flex-flow(row wrap);
  @include justify-content(center);
  @include align-items(center);      

}
.tilesList__tile {
  @include span(4);
  max-width: 400px;
  height: auto;
  border: 10px solid #fff;
  background-color: $gray;
  position: relative;
  margin: 100px auto 0;
  list-style-type: none;
  box-shadow: 0 0 15px $shadow;
  @include breakpoint($sm) {
    @include span(5);
    margin-right: auto;
  }
  @include breakpoint($xs) {
    @include span(5);
    margin-right: auto;
  }
  @include breakpoint($xxs) {
    @include span(12);
    margin-right: auto;
  }
  &:hover .tile__description {
    height: 70%;
    border-bottom-width: 2px;
    box-shadow: 0 5px 20px $shadow;
    padding: 5%;
  }
}

.tile__name {
  position: absolute;
  left: 18.27676240208877%;
  top: 77.77777777777778%;
  width: 63.18537859007833%;
  height: 37.77777777777778%;
  min-height: 62px;
  max-height: 84px;
  font-size: (18em / 16);
  color: darken(#e8d3d3, 20%);
  border: 1px solid #000;
  background-color: $ghostBlack;
  text-align: center;
  padding: 5.78512396694215%;
  overflow: hidden;
}

.tile__description {
   position: absolute;
   top: 0;
   width: 100%;
   height: 0;
   transition: height 1s, border-width 1s, box-shadow 1s, padding 1s;
   border-bottom: 0 solid #000;
   background-color: $ghostBlack;
   overflow:hidden;
   padding: 0;
   text-align: center;
}