a.tilesList__tile.tile(href="#")
  li.tile__option
    img.tile__img(
      src="img/{{short_name}}/{{short_name}}.jpg",
      alt="{{name}}"
    )
    h3.tile__name {{name}}
    p.tile__description {{description}}