@import "title/title.scss";
@import "firmsList/firmsList.scss";

.mainContent__firms {
  @include span(12);
  position: relative;
  background: url("../img/firms/background.jpg");
  background-size: cover;
  min-height: 665px;
  height: auto;
  margin-top: 125px;
}