.listTiles__tile {
  @include span(4);
  height: auto;
  margin: 20px auto;
  @include breakpoint($xs) {
    @include span(5);
  }
}
.csstransitions {
  .listTiles__tile  {
    &:hover .sample__description {
      height: 70%;
      border-bottom-width: 2px;
      box-shadow: 0 5px 20px $shadow;
      padding: 5%;
    }
  }
  .sample__description {
     transition: height 1s, border 1s, box-shadow 1s, padding 1s; 
  }
}

.tile__sample {
  height: 100%;
  border: 10px solid #fff;
  background-color: $gray;
  position: relative;
  list-style: none;
}
.sample__img {
  width: 100%;
  height: 100%;
}
.sample__number {
  position: absolute;
  width: (168% / 319) * 100;
  height: (71% / 262) * 100;
  min-height: 40px;
  top: (191% / 268) * 100;
  left: (151% / 319) * 100;
  background-color: $ghostBlack;
  border: 1px solid #000;
  text-align: center;
  color: darken(#e8d3d3, 20%);
  box-shadow: 0 0 15px $shadow;
  padding-top: (23% / 71) * 10;
  @include breakpoint($xxs) {
    font-size: (14em / 16);
  }
  @include breakpoint($xxs) {
    width: span(12);
    left: 0;
    font-size: (13em / 16);
    min-height: 27px;
  }
}

.sample__description {
  @extend .tile__description;
}