.listTiles__tile {
  @include span(4);
  height: auto;
  margin: 20px auto;
  @include breakpoint($xs) {
    @include span(5);
  }
}
.tile__sample {
  height: 100%;
  border: 10px solid #fff;
  background-color: $gray;
  position: relative;
  list-style: none;
}
.sample__img {
  width: 100%;
  height: 100%;
}
.sample__number {
  position: absolute;
  width: (168% / 319) * 100;
  height: (71% / 262) * 100;
  top: (191% / 268) * 100;
  left: (151% / 319) * 100;
  background-color: $ghostBlack;
  border: 1px solid #000;
  text-align: center;
  color: darken(#e8d3d3, 20%);
  box-shadow: 0 0 15px $shadow;
  padding-top: (23% / 71) * 10;
  @include breakpoint($xxs) {
    width: (200% / 319) * 100;
    left: (119% / 319) * 100;
  }
}