| {% extends 'contacts_base.html' %}

| {% block content %}
section.mainContent__success.success
  .container
    h2.heading.success__heading Остaвайтесь на связи!
    p.success__paragraph.
      Сообщение успешно было отправленно мне на почту. Как только я увижу его, я свяжусь с вами и мы обговорим то, что вас интересует. 
| {% endblock %}