.container.connect__address.address(
  role="region",
  itemscope,
  itemtype="http://schema.org/Organization"
)
  include title/title.pug
  include separator/separator.pug
  include office/office.pug
  include visitCard/visitCard.pug