ul.services__listServices.listServices
  li.listServices__offer.offer
    .offer__offerItem
      h4.offerItem__name Консультация
      p.offerItem__description.
        Ваши вопросы <i>не остануться</i> без ответа.
  li.listServices__offer.offer
    .offer__offerItem
      h4.offerItem__name Укладка покрытия
      p.offerItem__description.
        Ваш пол и стены будут <strong>смотреться лучше</strong>, будучи уложенными  нашими укладчиками.
  li.listServices__offer.offer
    .offer__offerItem
      h4.offerItem__name Доставка
      p.offerItem__description.
        В <i>любое место</i>, куда скажете.