@import 'info/info.scss';
@import 'logo/logo.scss';
@import 'signature/signature.scss';
.footer {
  width: span(12);
  height: 192px;
  position: absolute;
  bottom: 0;
  background-color: #1d1610;
  padding-top: 4.0625%;
  font-family: $stackComfortaa;
  text-align: center;
  @include breakpoint($sm) {
//    padding-top: 7.0625%;
  }
  @include breakpoint($xs) {
//    padding-top: 10.0625%;
  }
  @include breakpoint($xxs) {
//    padding-top: 11.0625%;
  }
  & a {
    transition: color 1s;
    &:hover {
      color: $cyan !important;
    }
  }
}
.footer__signature, .footer__info {
  @include breakpoint($md) {
    margin-top: 20px;
  }
  @include breakpoint($sm) {
    margin-top: 20px;
  }
}