.address__visitCard {
  @include span(5 last);
  margin-top: 96px;
  @include box-shadow(0 0 10px $shadow);
  @include breakpoint($sm) {
    @include span(12);    
  }
  @include breakpoint($xs) {
    @include span(12);    
  }
}
.visitCard__header {
  height: 79px;
  background: radial-gradient(circle, #ec4b4a 0%, #1f1f1f 80%);
}
.visitCard__body {
  background-color: #fff;
  text-align: center;
  font-family: $stackComfortaa;
  height: 157px;
  padding: 20px 0 5px;
}
.body__title {
  margin: 0;
  color: #1d1610;
  font-weight: bold;
  font-size: (36em / 16);
  @include breakpoint($xxs) {
    font-size: (26em / 16);
  }
}
.body__contacts {
   & > a {
    display: block;
    color: #1d1610;
    font-size: (20em / 16);
    &:hover, &:focus, &:active {
      color: #1d1610;
    }
    @include breakpoint($xxs) {
      font-size: (14em / 16);
    }
  }
}
.contacts__tel {
  margin-top: 18px;
}
.contacts__email {
  margin-top: 10px;
  font-weight: bold;
  letter-spacing: 5px;  
}