li#bcHome.breadcrumb__breadcrumbItem.breadcrumbItem
  a.breadcrumbItem__refer(href="../../") Главная
li#bcCatalog.breadcrumb__breadcrumbItem.breadcrumbItem
  a.breadcrumbItem__refer(href="../categories-snippet/categories-snippet.html") Каталог