.address__visitCard
  .visitCard__header
  .visitCard__body
     h3.body__title Контакты
     p.body__contacts
       span.contacts__tel 8-495-909-50-20
       span.contacts__email connect@smart-tiles.ru