.footer__signature {
  width: span(2);
  @include last;
//  right: 0;
  color: $cyan;
  @include breakpoint($md) {
    width: span(3);
  }
  @include breakpoint($sm) {
    width: span(3);
  }
  @include breakpoint($xs) {
    width: span(12);
  }
}

.signature__author {
  color: darken($cyan, 20%) !important;  
}