/* Grid */
$susy: (
  global-box-sizing: border-box,
  use-custom: (rem: true),
  columns: 12
);

@include border-box-sizing;
/* Fonts */
$stackGagalin: 'Gagalin', 'Aria', serif;
$stackComfortaa: 'Comfortaa', cursive;
/* Colors */
$cyan: #76bdff;
$beige: #dfa76e;
$night-black: #3f3c39;
$gray: #eee;
$maroon: #952d2c;
$shadow: rgba(0, 0, 0, .9);
/* breakpoints */
$xxs: max-width 460px;
$xs: max-width 769px;
$sm: 769px 991px;
$md: 992px 1199px;
$lg: 1200px;
/* Mixins */
/* Body Custom */
body {
  font: {
    family: $stackGagalin;
    size: 16px;
  }
  line-height: 145%;
  word-break: break-all;
  hyphens: auto;
  -webkit-hyphenate-before: 2;
  -webkit-hyphenate-after: 3;
  hyphenate-lines: 3;
  color: #fff;
  background-color: hsl(2, 57%, 40%);
  background-image: repeating-linear-gradient(transparent, transparent 50px, rgba(0,0,0,.4) 50px, rgba(0,0,0,.4) 53px, transparent 53px, transparent 63px, rgba(0,0,0,.4) 63px, rgba(0,0,0,.4) 66px, transparent 66px, transparent 116px, rgba(0,0,0,.5) 116px, rgba(0,0,0,.5) 166px, rgba(255,255,255,.2) 166px, rgba(255,255,255,.2) 169px, rgba(0,0,0,.5) 169px, rgba(0,0,0,.5) 179px, rgba(255,255,255,.2) 179px, rgba(255,255,255,.2) 182px, rgba(0,0,0,.5) 182px, rgba(0,0,0,.5) 232px, transparent 232px),
  repeating-linear-gradient(270deg, transparent, transparent 50px, rgba(0,0,0,.4) 50px, rgba(0,0,0,.4) 53px, transparent 53px, transparent 63px, rgba(0,0,0,.4) 63px, rgba(0,0,0,.4) 66px, transparent 66px, transparent 116px, rgba(0,0,0,.5) 116px, rgba(0,0,0,.5) 166px, rgba(255,255,255,.2) 166px, rgba(255,255,255,.2) 169px, rgba(0,0,0,.5) 169px, rgba(0,0,0,.5) 179px, rgba(255,255,255,.2) 179px, rgba(255,255,255,.2) 182px, rgba(0,0,0,.5) 182px, rgba(0,0,0,.5) 232px, transparent 232px),
  repeating-linear-gradient(125deg, transparent, transparent 2px, rgba(0,0,0,.2) 2px, rgba(0,0,0,.2) 3px, transparent 3px, transparent 5px, rgba(0,0,0,.2) 5px);
}

.container {
  
}
a {
  @include link-colors(#fff, #fff, #fff, #fff, #fff);
  &:hover {
    text-decoration: none;  
  }
}
