.offers__exclusive {
  @include span(12);
  margin-top: 120px;
  color: $nightBlack;
  text-align: center;
}
.exclusive__slides {
  background-color: $gray;
  border: 10px solid #fff;
  height: 445px;
  width: 80%;
  margin: 0 auto;
  position: relative;
  @include breakpoint($sm) {
    height: 250px;    
  }
  @include breakpoint($xs) {
    height: 200px;    
  }
  &:after {
    content: 'exclusive';
    color: $red;
    line-height: 7rem;
    bottom: 85%;
    left: 80%;
    font-size: (36rem / 16);
    position: absolute;
    width: 30%;
    height: 22%;
    border: 10px solid $red;
    @include border-radius(5px);
    background-color: $ghostBlack;
    @include rotate(30deg);
    @include box-shadow(15px 20px 15px rgba(0, 0, 0, .5));
    @include breakpoint($sm) {
      height: 37%;
      bottom: 79%;
      left: 83%;
    }
    @include breakpoint($xs) {
      width: 34%;
      height: 37%;
      bottom: 79%;
      font-size: 3vw;
      left: 79%;
      line-height: 5rem;
      @include box-shadow(10px 13px 15px rgba(0, 0, 0, .5));
    }
    @include breakpoint($xxs) {
      width: 40%;
      bottom: 82%;
    }
  }
}
@each  $num in (1)
      {
      .slides__exclusiveImg {
        background: url(../img/exclusive/ex_#{$num}.png) no-repeat center;
        background-size: cover;
        padding-top: 8%;
        @include breakpoint($lg) {
          padding-top: 6.5%;    
        }
        @include breakpoint($sm) {
          padding-top: 4.5%;    
        }
        @include breakpoint($xs) {
          padding-top: 3.5%;    
        }
      }
}
///* @each $category, $num in 
//      (exclusive, 1)
//      {
//      .slides__exclusiveImg-#{$category} {
//        background: url(../img/exclusive/ex_#{$num}.png) no-repeat center;
//      }
//} */
.slick-next:before, .slick-prev:before {
  font-size: 40px;
  color: $cyan; 
}
.slick-next {
  margin: 0 -15px;
}
.slick-prev {
  margin: 0 -35px;
}
.slick-dots {
  bottom: -40px;
  li.slick-active button:before {
    color: $beige;
  }
  li button:before {
    color: $beige;    
  }
}