.slick-dotted.slick-slider {
  margin: 0 auto;
}
.collection__collectionSlider {
  @include span(12);
  margin-top: 70px;      
}
.collectionSlider__slides {
  background: url("../img/purty_wood.png") repeat;
  background-size: 100px 100px;
  & .slick-arrow::after, .slick-arrow::before {
    font-size: 50px;
    color: $maroon;
    @include breakpoint($lg) {
      font-size: 70px;
    }
    @include breakpoint($xxs) {
      font-size: 40px;
    }
  } 
  & .slick-prev {
    z-index: 1;
    margin: 0 120px;
    @include breakpoint($md) {
      margin: 0 65px;
    }
    @include breakpoint($sm) {
      margin: 0 45px;
    }
    @include breakpoint($xs) {
      margin: 0 35px;
    }
    @include breakpoint($xxs) {
      margin: 0 38px;
    }
  }
  & .slick-next {
    margin-right: 170px;
    @include breakpoint($md) {
      margin: 0 110px;
    }
    @include breakpoint($sm) {
      margin: 0 75px;
    }
    @include breakpoint($xs) {
      margin: 0 65px;
    }
    @include breakpoint($xxs) {
      margin: 0 50px;
    }
  }
  & .slick-dots {
    width: 95%;
    bottom: 7%;
    right: 0;
    @include breakpoint($xs) {
      bottom: 3%;
    }
  }
  & .slick-dots li button:before, .slick-dots li.slick-active button:before {
    color: $nightBlack;
  }    
}
@import "tiles/tiles.scss";