.navContent__search.search
  form#search.search__searchForm.searchForm()
    input#searchInput.searchForm__inputSearch.typeahead(type="search", placeholder="Категории, Фирмы, Коллекции")
    button.searchForm__btnSearch(type="submit") Искать