.navContent__search {
  @include span(5 last);
  font-family: $stackComfortaa;
  color: $nightBlack;
  margin-top: 1%;
  @include breakpoint($md) {
    @include span(6 last);
  }
  @include breakpoint($sm) {
    @include span(12);
  }
  @include breakpoint($xs) {
    @include span(12);
    margin-right: 0;
  }
  @include breakpoint($xxs) {
    order: 4;
  }
}
.searchForm__inputSearch {
  margin: 0 9% 0 17px;
  width: 70%;
  padding: 2px 0 2px 2%;
  border: 0;
  &::-webkit-input-placeholder {
    color: #c4c4c4;
  }
  @include breakpoint($sm) {
    margin-left: 3.5%;
    margin-right: 6%;
    width: 45%;
  }
  @include breakpoint($xs) {
    width: 60%;
    margin-right: 25px;
  }
  @include breakpoint($xxs) {
    width: 45%;
  }
}
.searchForm__btnSearch {
  font-size: (14em / 16);
  padding: 2px 7px;
  border: 0;
  background: $cyan;
  position: relative;
  transition: background-color 1s ease;
  &:active {
    bottom: -3px;
  }
  &:hover {
    background-color: #74ff86;
  }
  @include breakpoint($xs) {
    float: right;
    margin-right: 11vw;
  }
  @include breakpoint($xxs) {
    margin-right: 20px;    
  }
}

