.navContent__search {
  @include span(5 last);
  font-family: $stackComfortaa;
  color: $night-black;
  margin-top: 1%;
  @include breakpoint($md) {
  }
  @include breakpoint($sm) {
    @include span(12);
    
  }
}
.searchForm__inputSearch {
  margin: 0 11% 0 7px;
  width: 70%;
  padding: 2px 0 2px 2%;
  border: 0;
  @include breakpoint($md) {
    margin-left: 4px;
    width: 73%;
  }
  &::-webkit-input-placeholder {
    color: #c4c4c4;
  }
  @include breakpoint($sm) {
    margin-left: 2%;
    margin-right: 7.5%;
    width: 45%;
  }
}
.searchForm__btnSearch {
  font-size: (14em / 16);
  padding: 2px 7px;
  border: 0;
  background: $cyan;
  position: relative;
  &:active {
    bottom: -3px;
  }
}