.navContent__search {
  @include span(5 last);
  font-family: $stackComfortaa;
  color: $nightBlack;
  margin-top: 1%;
  @include breakpoint($md) {
    @include span(6 last);
  }
  @include breakpoint($sm) {
    @include span(12);
  }
  @include breakpoint($xs) {
    @include span(12);
    margin-right: 0;
  }
  @include breakpoint($xxs) {
    order: 4;
  }
}
.searchForm__inputSearch {
  padding: 2px 0 2px 2%;
  border: 0;
  width: 100%;
  &::-webkit-input-placeholder {
    color: #c4c4c4;
  }
  @include breakpoint($xxs) {
    font-size: (11em / 16);
  }
}
.searchForm__btnSearch {
  font-size: (14em / 16);
  padding: 2px 7px;
  border: 0;
  background: $cyan;
  position: relative;
  transition: background-color 1s ease;
  vertical-align: middle;
  &:active {
    bottom: -3px;
  }
  &:hover {
    background-color: #74ff86;
  }
  @include breakpoint($xs) {
    float: right;
    margin-right: 21vw;
  }
  @include breakpoint($xxs) {
    margin-right: 20px;    
  }
}

.mainContent__foundCollections  {
  background-color: $gray;
  & .heading {
    color: $nightBlack;
  }
}
.mainContent__foundFirms {
  @extend .mainContent__firms;
  & .heading {
    color: $maroon;
  }
}

.mainContent__foundFirms, .mainContent__foundCategories, .mainContent__foundCollections {
  @include clearfix;
  padding-bottom: 5.6% !important;
}

.no-matches {
  padding: 10% 0 20%;
  font: {
    family: $stackComfortaa;
    size: (30em / 16);
  }
  line-height: (40em / 30);
  color: $beige;
  position: relative;
  &::after {
    content: "";
    width: 372px;
    height: 262px;
    position: absolute;
    background: url('../img/not-found.gif') center no-repeat;
    background-size: cover;
    top: 43%;
    left: 40%;
    padding-bottom: (262% / 372) * 10;
  }
}

/* typeahead styles */
.twitter-typeahead {
  margin: 0 9% 0 19px;
  width: 70%;
  @include breakpoint($sm) {
    width: 45%;
    margin-left: 3.8%; 
    margin-right: 5.8%;
  }
  @include breakpoint($xs) {
    width: 45%;
  }
  @include breakpoint($xxs) {
    margin: 0;
    width: 65%;
  }
}
.tt-dataset {
  background-color: $gray;
}

.search__caption {
  color: lighten($maroon, 20%);
  border-bottom: 1px solid $beige;
  font-weight: bold;
  padding: 1% 0.5%;
}
.tt-suggestion {
  cursor: pointer;
  color: $maroon;
  padding: 1% 0.5%;
  transition: color 0.5s;
  &:hover {
    color: lighten($maroon, 20%);
  }
}
.tt-menu {
  width: 100%;
}
.tt-highlight {
}