ul.firms__firmsList.firmsList
    li.firmsList__item
      figure.firmsList__item.firmsList__item-img_2tec2
    li.firmsList__item
      figure.firmsList__item.firmsList__item-img_altro
    li.firmsList__item
      figure.firmsList__item.firmsList__item-img_amtico
    li.firmsList__item
      figure.firmsList__item.firmsList__item-img_balsan
    li.firmsList__item
      figure.firmsList__item.firmsList__item-img_forbo
    li.firmsList__item
      figure.firmsList__item.firmsList__item-img_carpetconcept
    li.firmsList__item
      figure.firmsList__item.firmsList__item-img_ege
    li.firmsList__item
      figure.firmsList__item.firmsList__item-img_royalMosa
    li.firmsList__item
      figure.firmsList__item.firmsList__item-img_vescome