.offers__exclusive {
  @include span(12);
  margin-top: 120px;
  color: $nightBlack;
  text-align: center;
}
.exclusive__slides {
  background-color: $gray;
  border: 10px solid #fff;
  height: auto;
  width: 80%;
  margin: 0 auto;
  position: relative;
  @include breakpoint($xxs) {
      width: 100%;
    }
  &:after {
    content: 'exclusive';
    color: $red;
    padding: 2.5% 0;
    bottom: 85%;
    left: 80%;
    font-size: (36rem / 16);
    position: absolute;
    width: 30%;
    height: 22%;
    border: 10px solid $red;
    @include border-radius(5px);
    background-color: $ghostBlack;
    @include rotate(30deg);
    @include box-shadow(15px 20px 15px rgba(0, 0, 0, .5));
    @include breakpoint($sm) {
      height: 30%;
      bottom: 79%;
      left: 83%;
    }
    @include breakpoint($xs) {
      width: 34%;
      height: 37%;
      bottom: 79%;
      font-size: 3vw;
      left: 79%;
      @include box-shadow(10px 13px 15px rgba(0, 0, 0, .5));
    }
    @include breakpoint($xxs) {
      width: 25%;
      height: 30%;
      left: 79%;
      bottom: 76%;
      border-width: 5px;
    }
  }
}
@for $i from 1 through 4
      {
      .exclusiveImg-#{$i} {
        background: url(../img/exclusive/ex_#{$i}.jpg) no-repeat center;
        background-size: cover;
        padding-bottom: 7.9%;
        @include breakpoint($md) {
          padding-bottom: 9.7%;    
        }
      }
}
/* Slider */
.slick-next:before, .slick-prev:before {
  font-size: 40px;
  color: $cyan; 
}
.slick-next {
  margin: 0 -15px;
}
.slick-prev {
  margin: 0 -35px;
}
.slick-dots {
  bottom: -40px;
  li.slick-active button:before {
    color: $beige;
  }
  li button:before {
    color: $beige;    
  }
}