.offers__exclusive.exclusive
  .exclusive__slides.slides
    figure.slides__exclusiveImg.exclusiveImg-1
    figure.slides__exclusiveImg.exclusiveImg-2
    figure.slides__exclusiveImg.exclusiveImg-3
    figure.slides__exclusiveImg.exclusiveImg-4