header#header.header
  nav.header__navbar.navbar.navbar-default
    .container.navbar__navContent.navContent
      include logo/logo.pug
      include callBlock/callBlock.pug
      include navigation/navigation.pug
      include search/search.pug
        