@import "title/title.scss";
@import "firmsList/firmsList.scss";

.mainContent__firms, .mainContent__foundFirms { 
  width: span(12); 
  position: relative;
  background: url("../img/purty_wood.png") repeat;
  background-size: 100px 100px;
  height: auto;
  min-height: 680px;
  box-shadow: 0 0 40px $shadow;
  padding: 0 0 10%;
}