.contact__formBlock {
  margin-top: 149px;
  @include span(12);
}
.formBLock__contactForm, .contactForm__controller {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.contactForm__controller {
  width:  span(8);
  align-items: flex-start;
  font-family: $stackComfortaa;
  & label {
    font-size: (20em / 16);
    display: block;
    position: relative;
    top: 2em;
    opacity: 0;
    z-index: 0;
    margin: 5px 0;
    transition: top .3s ease, opacity .3s ease;
    &::after {
      content: '*';
    }
  }
  &-filled label {
    color: #a4a2a1;
    top: 0;
    opacity: 1;
  }
  &-focused label {
    color: $maroon;
  }
}
//.controller__label

.controller__input, label {
  width: span(12);
}

.controller__input {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #a4a2a1; 
  color: $nightBlack;
  z-index: 1;
  min-height: 35px;
  font-size: (20em / 16);    
  &:focus {
    outline: 0;    
  }
  &::-webkit-input-placeholder {
    font-size: (22em / 16);    
  }
} 
.conroller__emailHelper {
  font-size: (18em / 16);
  color: $maroon;
  text-align: right;
  width: 100%;
}
.controller__input-textarea {
  min-height: 102px;
}
.connectForm__button {
  display: block;
  margin: 65px auto 0;
  background-color: $beige;
  border: 2px solid #000;
  font-size: (24em / 16);
  box-shadow: 0 0 15px $shadow;
  padding: 13px;
  color: #1d1610;
}