.navContent__search.search
  form#search.search__searchForm.searchForm(action="#", method="get")
    input.searchForm__inputSearch(type="search", placeholder="Поиск")
    button.searchForm__btnSearch(type="submit") Искать