nav.mainContent__subNav.subNav
  .container
    ul.subNav__subNavList.subNavList
      li.subnavList__subCategory.subCategory
        a.subCategory__refer(href="#covers") покрытия
      li.subnavList__subCategory.subCategory
        a.subCategory__refer(href="#firms") фирмы
      li.subnavList__subCategory.subCategory
        a.subCategory__refer(href="#for") покрытия для...
  