nav.mainContent__subNav.subNav
  .container
    ul#subNav.subNav__subNavList.subNavList
      li.subnavList__subCategory.subCategory
        a.subCategory__refer(href="#catalogCovers") покрытия
      li.subnavList__subCategory.subCategory
        a.subCategory__refer(href="#catalogFirms") фирмы