.navContent__logo {
  @include span(4);
  @include breakpoint($md) {
    @include span(5);
  }
  @include breakpoint($sm) {
    @include span(9);
  }
  @include breakpoint($xs) {
    @include span(12);
    margin: 0 !important;
  }
  @include breakpoint($xxs) {
    @include span(12);
    min-height: 170px;
  }
}
#logo {
  @include breakpoint($xs) {
    margin: 0 auto;
    width: span(12);    
  }
  @include clearfix;
}
.logo {
  @include breakpoint($xxs) {
    @include span(12);
  }
}
.logo__name {
  font-size: (70rem / 16);
  color: $cyan;
  letter-spacing: 11px;
  white-space: nowrap;
  position: relative;
  @include clearfix;
  @include breakpoint($lg) {
    top: 26px;
  }
  @include breakpoint($sm) {
    margin: 0;
    left: 5%;
    top: 5px;
  }
  @include breakpoint($xs) {
    margin: 0 0 0 15px;
    font-size: (110vw / 16);
    text-align: center;
  }
  @include breakpoint($xxs) {
    clear: both;
    font-size: (70rem / 16);
    margin: 0;
  }
}
.logo__navButton {
  margin: 0;
  position: relative;
  right: 5vw;
  top: 20px;
  @include breakpoint($xs) {
    right: 22.5vw;
    top: 12vw;
  }
  @include breakpoint($xxs) {
    right: 40vw;
    top: 73px;
    order: 1;
  }
}

.visible_xxs {
  display: none;
  @include breakpoint($xxs) {
    display: block;    
  }
}
