.offers__options {
  @include span(12);
  margin-top: 100px;
  position: relative;
  @include breakpoint($lg) {
    left: 5%;
  }
  @include breakpoint($md) {
    left: 3%;
  }
  @include breakpoint($sm) {
    left: 8%;
  }
  @include breakpoint($xs) {
     margin-top: 0;
  }
}
.optionsList__refer {
  @include span(3);
  margin: 0;    
  @include transform-style(preserve-3d);
  @include perspective(500px);
  transition: perspective 0.5s;
  position: relative;
  @include breakpoint($md) {
    @include span(6);
    margin: 0;
  }
  @include breakpoint($sm) {
    @include span(6);
    margin: 0;
  }
  @include breakpoint($xs) {
    @include span(12);
    margin-top: 100px;
    right: -5%;
  }
  @include breakpoint($xxs) {
    right: 7%;  
  }
  &:hover {
   @include perspective(5000px);    
  }
  &:nth-child(1n+3) {
    margin-top: 100px;   
    @include breakpoint($lg) {
      margin-top: 0;
    }
  }
}
.optionsList__option {
  margin: 0 15px 0 0;
  border: 10px solid #fff;
  max-width: 285px;
  height: 190px;
  list-style: none;
  background-color: $gray;
  position: relative;
  @include box-shadow(0 7px 15px $shadow);
  @include rotateY(30deg);  
  @include transition-property(transform, box-shadow);
  @include transition-duration(0.5s);
  @include breakpoint($md) {
    margin: 0 auto;
  }
  @include breakpoint($xs) {
    margin: 0 auto;
  }
  &:hover {
    @include rotateY(0);
    @include box-shadow(0 3px 10px $shadow);
    .option__variant {
      @include rotateY(0deg);   
      @include box-shadow(0 5px 10px $shadow);
      width: 65.79634464751958%;
      left: 17%;
      @include breakpoint($lg) {
        padding: 3% 8%;  
      }
      padding: 3% 12%;
    }
  }
}

.option__variant {
  position: absolute;
  left: 30%;
  top: 90%;
  text-align: center;
  background-color: rgba(29, 22, 16, .8);
  border: 1px solid #000;
  font-size: (30rem / 16);
  width: 80.79634464751958%;
  height: 36.47058823529412%;
  padding: 3% 19%;
  word-wrap: break-word;
  overflow: hidden;
  @include border-radius(5px);
  @include box-shadow(0 20px 40px $shadow);
  @include perspective(500px);
  transform: translateZ(30px) rotateY(30deg);
  @include transition-property(transform, box-shadow, left, width, padding);
  @include transition-duration(0.5s);
  @include breakpoint($lg) {
        padding: 3% 15%;  
  }
}

/* Background for otions */
@each $category, $num in 
      (flooring, 1),
      (ceilingSystems, 2),
      (wallCoverings, 3),
      (textiles, 4) {
      .optionsList__option-#{$category} {
        background: url(../img/categories/c_#{$num}.png) no-repeat center;
      }
}