ol.firm__breadcrumb.breadcrumb.breadcrumb-firm
  li.breadcrumb__breadcrumbItem.breadcrumbItem
    a.breadcrumbItem__refer(href="../../") Главная
  li.breadcrumb__breadcrumbItem.breadcrumbItem
    a.breadcrumbItem__refer(href="../categories-snippet/categories-snippet.html") каталог
  li.breadcrumb__breadcrumbItem.breadcrumbItem
    a.breadcrumbItem__refer(href="../category-snippet/category-snippet.html") категория
  li.breadcrumb__breadcrumbItem.breadcrumbItem.active фирма