.navContent__callBlock {
  @include span(2);
  padding: 25px 0 0;
  text-align: center;
  position: relative;
  left: 65px;
  @include breakpoint($md){
    @include span(1);
    left: 0;
    padding-top: 35px;
  }
  @include breakpoint($sm){
    @include span(3);
    padding: 0;
    top: 50px;
  }
}
.callBlock__call {
  &:hover {
    text-decoration: none;
  }
  &:focus {
    text-decoration: none;      
  }
}
.call__icon {
  color: #69ff54;
  margin-top: 10px;
}
.call__devider {
    margin: 5px 0 10px;
}
.call__tel {
  font-size: (20em / 16);
  color: $beige;
  & i.fa-volume-control-phone {
    transform: rotate(-20deg);
  }
  @include breakpoint($md) {
    display: none;
    z-index: 99;
    position: absolute;
    width: 200px;
    left: -60px;
  }
}
