.navContent__callBlock.callBlock
  a.callBlock__call(href="tel:8-495-900-50-20")
    .call__icon
      i.fa.fa-phone.fa-2x
    hr.call__devider.visible-lg.visible-sm
    span.call__tel 8-(495)-900-50-20