.navContent__callBlock.callBlock(itemscope, itemtype="http://schema.org/Text")
  a.callBlock__call(href="tel:8-495-900-50-20")
    .call__icon
      i.fa.fa-phone.fa-2x
    hr.call__devider
    span.call__tel(itemprop="telephone") 8-(495)-900-50-20